<%= form_for(@mylist) do |f| %>
  <% if @mylist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mylist.errors.count, "error") %> prohibited this mylist from being saved:</h2>

      <ul>
      <% @mylist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :productName %><br>
    <%= f.text_field :productName %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :itemsPerPack %><br>
    <%= f.text_field :itemsPerPack %>
  </div>
  <div class="field">
    <%= f.label :unit %><br>
    <%= f.text_field :unit %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
