<h1>Listing mylists</h1>

<table>
  <thead>
    <tr>
      <th>Productname</th>
      <th>Quantity</th>
      <th>Itemsperpack</th>
      <th>Unit</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mylists.each do |mylist| %>
      <tr>
        <td><%= mylist.productName %></td>
        <td><%= mylist.quantity %></td>
        <td><%= mylist.itemsPerPack %></td>
        <td><%= mylist.unit %></td>
        <td><%= mylist.price %></td>
        <td><%= link_to 'Show', mylist %></td>
        <td><%= link_to 'Edit', edit_mylist_path(mylist) %></td>
        <td><%= link_to 'Destroy', mylist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mylist', new_mylist_path %>
